@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@300;400;700&display=swap');
@import 'libs/bootstrap-reboot.min.scss';
@import 'libs/slick.scss';


* {
    font-family: "Ysabeau Infant", sans-serif;
}

body {
    box-sizing: border-box;
    background: linear-gradient(135deg, #000 15%, #272727 80.03%, #494949 99.99%, #727272 100%);


}

.container {
    width: 1452px;
    margin: 0 auto;

}

.menu {
    &__container {
        width: 1569px;
        margin: 0 auto;
    }
}

@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/title';
@import 'blocks/skills';
@import 'blocks/corousel';
@import 'blocks/footer';