.promo {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        &-one {
            padding-top: 180px;
        }
        &-two {
            padding-top: 60px;
        }
    }
    &__text {
        color: #E0E0E0;
        font-size: 28px;
        font-weight: 700;
    }
    &__name {
        padding-top: 20px;
        color: #70FF00;
        font-size: 46px;
        font-weight: 700;
        letter-spacing: 7.8px;
        line-height: 56px;
    }
    &__developer {
        padding-top: 18px;
        color: #E0E0E0;
        font-size: 45px;
        font-weight: 700;
    }
    &__numbers {
        padding-top: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 400px;
    }

    &__block {
        display: flex;
        align-items: center;
    }
    &__descr {
        color: #828282;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 26px;
        
    }
    &__number {
        padding-right: 10px;
        color: #4F4F4F;
        font-size: 61px;
        font-weight: 700;
    }
    &__item {
        &-circle526 {
            position: relative;
            width: 500px;
            height: 500px;
            border-radius: 100%;
            background: #2D2D2D;
            border: 1px solid #70FF00;
            img {
                position: absolute;
                top: -11%;
                left: 49%;
                transform: translateX(-50%);
                width: 500px;
                height: 500px;
            }
        }
        &-circle156 {
            position: absolute;
            bottom: 5%;
            left: 0%;
            width: 156px;
            height: 156px;
            border-radius: 100% ;
            border: 1px solid #70FF00;
            background: #2D2D2D;
            img {
                position: absolute;
                top: 50%;
                left: 18%;
                transform: translateY(-50%);
                width: 100px;
                height: 100px;
            }
        }
        &-circle114 {
            position: absolute;
            bottom: 15%;
            right: -6px;
            width: 114px;
            height: 114px;
            border-radius: 100%;
            background: #2D2D2D;
            border: 1px solid #70FF00;
            img {
                position: absolute;
                top: 56%;
                left: 16%;
                transform: translateY(-50%);
                width: 80px;
                height: 80px;
            }
        }
        &-circle112 {
            position: absolute;
            top: 10%;
            right: -6px;
            width: 112px;
            height: 112px;
            border-radius: 100%;
            background: #2D2D2D;
            border: 1px solid #70FF00;
            img {
                position: absolute;
                top: 57%;
                left: 15%;
                transform: translateY(-50%);
                width: 80px;
                height: 80px;
            }
        }
    }
    
}